<!DOCTYPE html>
{block content}

<h1 class="main-header" style="font-size: 58px">Výsledková listina</h1>
<br>
{foreach $categoriesData as $category}
{var $hasResults = false}
{foreach $teamsData as $team}
	{foreach $resultsData as $result}
		{if $result->id_tymu == $team->id && $result->id_kategorie == $category->id}
			{var $hasResults = true}
		{/if}
	{/foreach}
{/foreach}

{if $hasResults}
	<h2 class="main-header">Kategorie {$category->kategorie}</h2>
	<table>
		<tr>
			<th>Výsledková listina</th>
			<th>Název týmu</th>
			<th>Výsledný čas</th>
			<th>Akce</th>
		</tr>
		{foreach $resultsData as $result}
			{foreach $teamsData as $team}
				{if $result->id_tymu == $team->id && $result->id_kategorie == $category->id}
					<tr>
						<td>{$result->poradi}</td>
						<td>{$team->Tym}</td>
						<td>{substr($result->vysledny_cas->format('%I:%S.%F'),0,8)}</td>
						<td><a class="delete" n:href="deleteTime $result->id">Smazat</a></td>
					</tr>
				{/if}
			{/foreach}
		{/foreach}
	</table>
{/if}
{/foreach}
<br>
<div class="main-text">
<a class="delete" n:href="Terce:casomira typ_vypoctu:max" {if $typ_vypoctu == max} style="background-color: #0fc1d9;"{/if}>MAX</a>
<a class="delete" n:href="Terce:casomira typ_vypoctu:min" {if $typ_vypoctu == min} style="background-color: #0fc1d9;"{/if}>MIN</a>
<a class="delete" n:href="Terce:casomira typ_vypoctu:prum" {if $typ_vypoctu == prum} style="background-color: #0fc1d9;"{/if}>PRŮMĚR</a>
<a class="delete" n:href="Terce:casomira typ_vypoctu:sum" {if $typ_vypoctu == sum} style="background-color: #0fc1d9;"{/if}>SOUČET</a>
<a class="delete" n:href="Terce:casomira typ_vypoctu:vse" {if $typ_vypoctu == vse} style="background-color: #0fc1d9;"{/if}>VŠE</a>
</div>
<br>
<div class="main-text" style="padding-top: 10px;">
	{foreach $users as $uzivatel}
	<a class="delete" href="{link Guest:default, id =>  $uzivatel->id}">Zobrazit výsledky</a>
	{/foreach}
</div>
<h1 class="main-header">Vložení dat</h1>
<form n:name=uploadForm class="main-text">
	<div>
		<label n:name=tym>Název týmu: <select class="input" n:name=tym></select></label>
		<span class=error n:ifcontent>{inputError tym}</span>
	</div>
	<br>
	<div>
		<label n:name=cas>Čas: <input type="text" n:name=cas required placeholder="00:00:00.00" oninput="formatTimeInput(this)" inputmode="numeric" step="1"></label>
		<span class=error n:ifcontent>{inputError cas}</span>
	</div>
	<script>
        function formatTimeInput(input) {
            let value = input.value.replace(/\D/g, ''); // Odebrání všech nečíselných znaků
            if (value.length > 8) {
                value = value.substring(0, 8); // Omezení délky na 6 znaků
            }
            if (value.length > 0) {
                value = value.substring(0, 0) + '00:' + value.substring(2); // Přidání první dvojtečky
            }
            if (value.length > 5) {
                value = value.substring(0, 5) + ':' + value.substring(5); // Přidání druhé dvojtečky
            }
			if (value.length > 8) {
                value = value.substring(0, 8) + '.' + value.substring(8); // Přidání druhé dvojtečky
            }
            input.value = value;
        }
    </script>
		<input n:name="id_uzivatel" value="{$user->getIdentity()->id}">
	<br>
	<div>
		<input style="background-color: lightgreen;" n:name=send class="btn btn-default">
	</div>
</form>
{if !empty($flashes)}
{if $flashes[0]->type == 'yes'}
<figure class="l_notification">
	<div class="l_notification_body">
		<img src="https://www.cestakvitezstvi.cz/src/blue-check.png"
			title="Success" alt="Success" class="l_notification_icon" />
		Přihlášeno! &#x1F44D;
	</div>
	<div class="l_notification_progress"></div>
</figure>
{/if}
{if $flashes[0]->type == 'added'}
<figure class="l_notification">
	<div class="l_notification_body">
		<img src="https://www.cestakvitezstvi.cz/src/blue-check.png"
			title="Success" alt="Success" class="l_notification_icon" />
		Přidáno! &#x1F4BE;
	</div>
	<div class="l_notification_progress"></div>
</figure>
{/if}
{if $flashes[0]->type == 'deleted'}
<figure class="d_notification">
	<div class="d_notification_body">
		<img src="https://www.cestakvitezstvi.cz/src/red-cross.svg"
			title="Success" alt="Success" class="d_notification_icon" />
		Smazáno! &#x1F69B;
	</div>
	<div class="d_notification_progress"></div>
</figure>
{/if}
{/if}
{/block}