<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
  	<link rel="icon" type="image/x-icon" href="https://www.cestakvitezstvi.cz/pictures/logo.png">
	<link rel="stylesheet" href="{$basePath}/src/style.css">

	<title>{ifset title}{include title|stripHtml} | {/ifset}Bezdrátové časomíry</title>
</head>
<body>
	{include content}
</body>
</html>