{block content}
<div class="main-header" style="font-size: 58px;">Autoři projektu</div>
<div class="main-header">Petr Bouda</div>
<a href="https://www.instagram.com/petrbouda04?igsh=MjdleWVuc3dtb3Bo"><img style="width: 20%; border: 5px solid #000; border-radius: 5%; height: 20%;" class="image-full-site" src="https://www.cestakvitezstvi.cz/pictures/Petr1.jpg" alt="Petr"></a>
<div class="main-text"><b>O mě</b></div>
<div class="main-text">
Jmenuji se Petr a studuji obor internet věcí na Střední průmyslové škole elektrotechnické v Plzni. O volném čase se zabývám 3D tiskem a rád se učím nové věci. Už od malička běhám požární sport pro zábavu a díky tomu mi jej napadlo inovovat. Již delší dobu jsem na hasičských závodech pozoroval, jak většina pořadatelů pracně připravuje několik desítek metrů kabeláže po trase na časomíru a jelikož takový závod trvá většinou jen celý den, napadla mi myšlenka vytvořit časomíru bezdrátovou. Takto vznikl tento projekt!
</div>
<div class="main-header">Jakub Rauner</div>
<a href="https://www.instagram.com/jakub.rauner?igsh=MmdqYzN4NWhuaXVv"><img style="width: 20%; border: 5px solid #000; border-radius: 5%; height: 20%" class="image-full-site" src="https://www.cestakvitezstvi.cz/pictures/Jakub.jpg" alt="Jakub"></a>
<div class="main-text"><b>O mě</b></div>
<div class="main-text">Jmenuji se Kuba a jsem student čtvrtého ročníku Střední průmyslové školy elektrické v Plzni na Slovanech. Požárnímu sportu se věnuji již od mala. Do patnácti let jsem závodil v dětských soutěžích. Od patnácti se let se požárnímu sportu věnuji jako trenér mladých hasičů a jako fotograf různých soutěží.</div>
<div class="main-text">Ve volném čase se rád věnuji fotografování aut nebo rád vyrazím někam do přírody.</div>
{/block}