{block content}
    <table>
        <tr>
            <th>Umístění</th>
            <th>Název týmu</th>
            <th>Výsledný čas</th>
            <th>Akce</th>
        </tr>
        {foreach $results as $result}
            <tr>
                <td>{$result->umisteni}</td>
                <td>{$result->nazev_tymu}</td>
                <td>{$result->cas->format('%H:%I:%S')}</td>
                <td><a n:href="deleteTime $result->vysledek_id">Smazat</a></td>
            </tr>
        {/foreach}
    </table>
{/block}
