{block content}
<h1 class="main-header">Registrace</h1>
<form n:name=uploadFormRegister class="main-text">
	<div>
		<label n:name=username>Uživatelské jméno: <input type="text" n:name=username></label>
	</div>
	<br>
    <div>
		<label n:name=password>Heslo: <input class="input" n:name=password></label>
	</div>
    <br>
	<div>
		<input style="background-color: lightgreen;" n:name=send class="btn btn-default">
	</div>
</form>
{/block}